<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Course</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" th:href="@{/users}" >Professor ClassWeb</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	   		<li><a style="color:white" th:text="${fullname}"></a></li>
	    	<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    	</ul>
	  </div>
	</nav>
    <div class="container ">
        <div class="text-center">
            <h1>Edit Course</h1>
        </div>
        <form action="#" th:action="@{/save}" th:object="${course}"
            method="post" style="max-width: 300px; margin: 0 auto;">
        <div class="m-3">      
        <div class="form-group row">
                <div class="col-8">
                    <input type="hidden" th:field="*{courseId}" class="form-control"
                            required readonly="readonly" />
                </div>
            </div>       
            <div class="form-group row">
                <label class="col-4 col-form-label" style="text-align: left;">Course Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{courseName}" class="form-control"
                            required readonly="readonly" />
                </div>
            </div>
             
            <div class="form-group row">
                
                <div class="col-8">
                    <input type="hidden" th:field="*{professorName}" class="form-control"
                            required readonly="readonly" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Project Percentage: </label>
                <div class="col-8">
                    <input type="text" th:field="*{percentage}" class="form-control"
                            required />
                </div>
            </div> 
            <div class="form-group row">
                <label class="col-4 col-form-label">Description: </label>
                <div class="col-8">
                    <input type="text" th:field="*{description}" style="height:100px;" class="form-control"
                            required />
                </div>
            </div>          
             
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" onclick="cancelForm()" class="btn btn-secondary m-2">Cancel</button>
            </div>
        </div>
        
        </form>
     </div>
     <script type="text/javascript">
     	function cancelForm(){
     		window.location = "[[@{/users}]]";
     	}
     </script>
     </body>
     </html>
